{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "import/no-unresolved": [0],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "spaced-comment": [0],
    "no-unused-vars": [0],
    "no-empty": [0],
    "react/wrap-multilines": [0],
    "react/no-multi-comp": [0],
    "no-constant-condition": [0],
    "react/jsx-no-bind": [0],
    "react/jsx-filename-extension": [0],
    "react/prop-types": [0],
    "arrow-body-style": [0],
    "react/prefer-stateless-function": [0],
    "semi": [0]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "polyfills": ["fetch", "promises"]
  }
}
